.loginPage{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#fafafa;
  }
  
  .loginBox{
    width:350px;
    background:#fff;
    border:1px solid #dbdbdb;
    padding:30px 35px;
    text-align:center;
  }
  
  .loginLogo{
    font-family: 'Lobster', cursive;
    font-size:40px;
    margin-bottom:25px;
  }
  
  .loginInput{
    width:100%;
    padding:11px;
    margin-bottom:10px;
    border:1px solid #dbdbdb;
    background:#fafafa;
    border-radius:4px;
    font-size:14px;
  }
  
  .loginInput:focus{
    outline:none;
    border:1px solid #a8a8a8;
    background:#fff;
  }
  
  .loginButton{
    width:100%;
    padding:10px;
    margin-top:10px;
    background:#0095f6;
    color:white;
    border:none;
    border-radius:6px;
    font-weight:600;
    cursor:pointer;
  }
  
  .loginButton:hover{
    background:#1877f2;
  }