/* ===== EXPLORE GRID ===== */

.exploreGrid{
    width:100%;
    max-width:1000px;
    margin:20px auto 60px;
  
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:6px;
  }
  
  /* карточка */
  .exploreItem{
    position:relative;
    width:100%;
    aspect-ratio:1/1;
    overflow:hidden;
    background:#eee;
    cursor:pointer;
  }
  
  /* картинка */
  .exploreItem img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:0.25s ease;
  }
  
  /* hover как в Instagram */
  .exploreItem:hover img{
    transform:scale(1.06);
    filter:brightness(0.85);
  }
  
  /* ===== АДАПТИВ ===== */
  
  /* ноутбук */
  @media (max-width:1000px){
    .exploreGrid{
      grid-template-columns:repeat(3, 1fr);
    }
  }
  
  /* планшет */
  @media (max-width:700px){
    .exploreGrid{
      grid-template-columns:repeat(2, 1fr);
    }
  }
  
  /* телефон */
  @media (max-width:480px){
    .exploreGrid{
      grid-template-columns:1fr;
    }
  }