/* GRID */
.exploreGrid{
    width:100%;
    max-width:1000px;
    margin:20px auto 60px;
  
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-auto-rows: 220px;
    gap:6px;
  }
  
  /* обычная карточка */
  .exploreItem{
    position:relative;
    width:100%;
    height:100%;
    overflow:hidden;
    cursor:pointer;
    background:#eee;
  }
  
  /* ВЫСОКАЯ (2 клетки) */
  .exploreItem.tall{
    grid-row: span 2;
  }
  
  /* картинка */
  .exploreItem img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:0.25s ease;
  }
  
  /* hover */
  .exploreItem:hover img{
    transform:scale(1.07);
    filter:brightness(0.85);
  }
  
  /* ---------- POPUP ---------- */
  
  .exploreModal{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.85);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:200;
    cursor:pointer;
  }
  
  .exploreModal img{
    max-width:85%;
    max-height:85%;
    border-radius:10px;
  }
  
  /* АДАПТИВ */
  @media (max-width:800px){
    .exploreGrid{
      grid-template-columns:repeat(2, 1fr);
      grid-auto-rows:180px;
    }
  }
  
  @media (max-width:500px){
    .exploreGrid{
      grid-template-columns:1fr;
      grid-auto-rows:260px;
    }
  }