.footer{
    width: 100%;
    padding: 26px 0 18px;
    margin-top: 30px;
    color: #8e8e8e;
    font-size: 12px;
    text-align: center;
  }
  
  /* чтобы НЕ слипалось и было как у Instagram */
  .footerLinks{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14px;
    margin-bottom: 10px;
  }
  
  /* стили для ссылок и span */
  .footerLinks a,
  .footerLinks span{
    color: #8e8e8e;
    text-decoration: none;
    cursor: pointer;
    padding: 2px 0;
  }
  
  .footerLinks a:hover,
  .footerLinks span:hover{
    text-decoration: underline;
  }
  
  .footerCopy{
    color: #8e8e8e;
  }