/* 2 колонки на больших экранах, 1 колонка на маленьких */
.feed{
    width: 100%;
    display: grid;
    gap: 28px;
  
    /* центрируем сетку */
    justify-content: center;
  
    /* 2 колонки, каждая тянется, но не больше 520px */
    grid-template-columns: repeat(2, minmax(320px, 520px));
  }
  
  /* когда места меньше — 1 колонка */
  @media (max-width: 1100px){
    .feed{
      grid-template-columns: minmax(320px, 520px);
    }
  }
  
  /* телефон: колонка на всю ширину */
  @media (max-width: 520px){
    .feed{
      grid-template-columns: 1fr;
      gap: 18px;
    }
  }

  .footer{
    margin-top: auto;          /* прижимает вниз */
    padding: 24px 0 18px;
    color:#8e8e8e;
    font-size: 12px;
  }
  
  .footerNav{
    display:flex;
    justify-content:center;
    gap: 18px;                 /* ВОТ пробелы */
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .footerNav a,
  .footerNav button{
    background: transparent;
    border: 0;
    cursor: pointer;
    color: #8e8e8e;
    font-size: 12px;
  }
  
  .footerCopy{
    text-align:center;
  }