.footer{
    width:100%;
    margin-top:60px;
    padding:28px 0 40px;
  
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  
    color:#8e8e8e;
    font-size:13px;
  }
  
  /* ссылки */
  .footerLinks{
    display:flex;
    flex-wrap:wrap;
    gap:18px;
    justify-content:center;
    margin-bottom:10px;
  }
  
  .footerLinks a,
  .footerLinks span{
    color:#8e8e8e;
    text-decoration:none;
    cursor:pointer;
  }
  
  .footerLinks a:hover,
  .footerLinks span:hover{
    text-decoration:underline;
  }
  
  .footerCopy{
    text-align:center;
  }