.feed{
    width: 100%;
    display: grid;
    gap: 32px;
  
    /* ЖЕСТКО 2 колонки */
    grid-template-columns: repeat(2, 1fr);
  }
  
  /* планшет */
  @media (max-width: 1100px){
    .feed{
      grid-template-columns: 1fr;
    }
  }