<main className={`appMain ${isOpen ? "dimmed" : ""}`}>
  <div className="appContainer">
    <div className="appContent">
      {children}
    </div>

    <Footer onOpenPanel={openPanel} />
  </div>
</main>