.postCard{
    background: #fff;
    border: 1px solid #dbdbdb;   /* ← рамка */
    border-radius:12px;
    overflow: hidden;            /* чтобы картинка не вылазила */
    width: 100%;
  }
  
  /* HEADER */
  .postHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 14px;
  }
  
  .postUserLeft{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .postAvatar{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .postUserInfo{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
  }
  
  .postUsername{
    font-weight: 600;
  }
  
  .postTime{
    color: #8e8e8e;
  }
  
  .followBtn{
    border: none;
    background: none;
    color: #0095f6;
    font-weight: 600;
    cursor: pointer;
  }
  
  /* ФОТО */
  .postImage{
    width: 100%;
    height: auto;
    
    display: block;
    object-fit: cover;
  }
  
  /* ACTIONS */
  .postActions{
    display: flex;
    gap: 14px;
    padding: 10px 14px;
    font-size: 20px;
  }
  
  .likeBtn{
    cursor: pointer;
  }
  
  .likeBtn.liked{
    color: red;
  }
  
  .commentBtn{
    cursor: pointer;
  }
  
  /* ТЕКСТ */
  .postLikes{
    padding: 0 14px;
    font-weight: 600;
    margin-bottom: 4px;
  }
  
  .postCaption{
    padding: 0 14px;
    margin-bottom: 6px;
  }
  
  .viewAllComments{
    padding: 0 14px 10px;
    color: #8e8e8e;
    cursor: pointer;
  }
  
  .postComments{
    padding: 0 14px 12px;
  }
  
  .commentInputRow{
    border-top: 1px solid #efefef;
    padding: 10px 14px;
  }
  
  .commentInput{
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
  }