.sidebar {
  width: 230px;
  background: #fff;
  border-right: 1px solid #ddd;
  padding: 20px;
  position: fixed;
  height: 100vh;
}

.logo {
  font-family: 'Brush Script MT', cursive;
  font-size: 26px;
  margin-bottom: 30px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}

.sidebar-nav a {
  padding: 10px 0;
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: 0.2s;
}

.sidebar-nav a:hover {
  color: #0095f6;
}

.sidebar-nav a.active {
  font-weight: 600;
  color: #0095f6;
}
