.stories {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    background: white;
  }
  
  .story {
    text-align: center;
    min-width: 70px;
  }
  
  .story img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #dae333ca;
    object-fit: cover;
  }
  
  .story p {
    font-size: 12px;
    margin-top: 5px;
  }